.field-wrapper {
    position: relative;
    width: 100%;
}

.field-wrapper--textarea {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.field-wrapper--checkbox {
    padding: 1rem;
}

.field-wrapper--progress {
    display: flex;
}

.field-wrapper:not(:last-child) {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(255, 237, 213, var(--tw-border-opacity));
}

.field-wrapper input, .field-wrapper select {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.75rem;
    padding-bottom: 0.5rem;
}

.field-wrapper--checkbox input {
    width: -moz-fit-content;
    width: fit-content;
}

.field-wrapper label {
    position: absolute;
    top: 50%;
    left: 1rem;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(251, 146, 60, var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.field-wrapper--textarea label {
    position: static;
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.field-wrapper--checkbox label {
    position: static;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.field-wrapper--progress progress {
    height: 20px;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

progress::-webkit-progress-bar {
    height: 100%;
    background-color: transparent;
}
progress::-webkit-progress-value {
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(253, 186, 116, var(--tw-bg-opacity));
    -webkit-transition-property: all;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
progress::-moz-progress-bar {
    /* style rules */
}

.field-wrapper input:valid + label, .field-wrapper input:focus + label,
.field-wrapper select:valid + label, .field-wrapper select:focus + label {
    transform: translateY(-100%);
}

.field-wrapper *:focus {
    --tw-ring-inset: inset;
}

#form-elements-list ul {
    margin-left: 0.5rem;
    border-left-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(251, 146, 60, var(--tw-border-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
