.header__wrapper {

    margin-top: 90px;

    --tw-bg-opacity: 1;

    background-color: rgba(191, 219, 254, var(--tw-bg-opacity));

    padding: 8rem
}

.header__title {

    text-align: center;

    font-size: 1.875rem;

    line-height: 2.25rem;

    font-weight: 700;

    --tw-text-opacity: 1;

    color: rgba(59, 130, 246, var(--tw-text-opacity))
}

.main__wrapper {

    padding-top: 2rem;

    padding-bottom: 4rem
}

caption {

    margin-bottom: 1rem;

    text-align: left
}

table {

    margin-left: auto;

    margin-right: auto;

    max-width: 1280px;

    table-layout: auto;

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(241, 245, 249, var(--tw-border-opacity))
}

thead {

    --tw-bg-opacity: 1;

    background-color: rgba(226, 232, 240, var(--tw-bg-opacity))
}

th, td {

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(226, 232, 240, var(--tw-border-opacity));

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    padding-top: 1rem;

    padding-bottom: 1rem
}

table a {

    --tw-text-opacity: 1 !important;

    color: rgba(59, 130, 246, var(--tw-text-opacity)) !important;

    text-decoration-line: underline !important
}

table ol {

    list-style-type: decimal !important;

    padding-left: 1rem !important
}

table ul {

    list-style-type: disc !important;

    padding-left: 1rem !important
}

thead tr th:nth-child(1) {

    text-align: left
}

tbody tr th:nth-child(1) {

    text-align: left
}
