body {
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(245, 245, 245, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

body::before {
    content: 'body';
    margin-bottom: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(163, 163, 163, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(229, 229, 229, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(38, 38, 38, var(--tw-text-opacity));
}

header {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(251, 207, 232, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(253, 242, 248, var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

header::after {
    content: 'header';
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(244, 114, 182, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(249, 168, 212, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(157, 23, 77, var(--tw-text-opacity));
}

main {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(153, 246, 228, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(240, 253, 250, var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

main::before {
    content: 'main';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(45, 212, 191, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(94, 234, 212, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(17, 94, 89, var(--tw-text-opacity));
}

footer {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(254, 215, 170, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 247, 237, var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

footer::before {
    content: 'footer';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(251, 146, 60, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(253, 186, 116, var(--tw-bg-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(154, 52, 18, var(--tw-text-opacity));
}

div:not(.no-desc) {
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(217, 249, 157, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(247, 254, 231, var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

div:not(.no-desc)::before {
    content: 'div';
    margin-bottom: 0.5rem;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(163, 230, 53, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(190, 242, 100, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(63, 98, 18, var(--tw-text-opacity));
}

p {
    margin-bottom: 1rem !important;
}

p {
    display: block;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(254, 240, 138, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(254, 252, 232, var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

p::before {
    content: 'p';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(250, 204, 21, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(253, 224, 71, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(133, 77, 14, var(--tw-text-opacity));
}

p.auto-closing::before {
    content: 'auto-closing p';
}

a {
    display: block;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(186, 230, 253, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(240, 249, 255, var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.375rem;
    padding-right: 0.75rem;
}

a::before {
    content: 'a';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(56, 189, 248, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(125, 211, 252, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(7, 89, 133, var(--tw-text-opacity));
}

ul {
    margin-bottom: 1rem !important;
    display: block !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    padding-top: 3rem !important;
    padding-bottom: 1rem !important;
}

ul {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(233, 213, 255, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(250, 245, 255, var(--tw-bg-opacity));
}

ul::before {
    content: 'ul';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(192, 132, 252, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(216, 180, 254, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(107, 33, 168, var(--tw-text-opacity));
}

li {
    margin-bottom: 0.5rem;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(217, 249, 157, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(247, 254, 231, var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.375rem;
    padding-right: 0.75rem;
}

li::before {
    content: 'li';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(163, 230, 53, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(190, 242, 100, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(63, 98, 18, var(--tw-text-opacity));
}
nav {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(221, 214, 254, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(245, 243, 255, var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 3rem;
    padding-bottom: 0.75rem;
}

nav::before {
    content: 'nav';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(167, 139, 250, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(196, 181, 253, var(--tw-bg-opacity));
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(91, 33, 182, var(--tw-text-opacity));
}

section {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(254, 205, 211, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 241, 242, var(--tw-bg-opacity));
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 3rem;
    padding-bottom: 0.25rem;
}

section::before {
    content: 'section';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(251, 113, 133, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(253, 164, 175, var(--tw-bg-opacity));
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(159, 18, 57, var(--tw-text-opacity));
}
article {
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(245, 208, 254, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(253, 244, 255, var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

article::before {
    content: 'article';
    margin-bottom: 0.5rem;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(232, 121, 249, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(240, 171, 252, var(--tw-bg-opacity));
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(134, 25, 143, var(--tw-text-opacity));
}

aside {
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(186, 230, 253, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(240, 249, 255, var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

aside::before {
    content: 'aside';
    margin-bottom: 0.5rem;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(56, 189, 248, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(125, 211, 252, var(--tw-bg-opacity));
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(7, 89, 133, var(--tw-text-opacity));
}

header, main, footer, div:not(.no-desc), p, a, ul, li {
    --tw-border-opacity: 1 !important;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgba(250, 250, 250, var(--tw-bg-opacity)) !important;
}

header::after, main::before, footer::before, div:not(.no-desc)::before, p::before, a::before, ul::before, li::before {
    --tw-border-opacity: 1 !important;
    border-color: rgba(163, 163, 163, var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: rgba(38, 38, 38, var(--tw-text-opacity)) !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(253, 230, 138, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 251, 235, var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.375rem;
    padding-right: 0.75rem;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    margin-right: 0.25rem;
    display: block;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(253, 230, 138, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1::before {
    content: 'h1';
}

h2::before {
    content: 'h2';
}

h3::before {
    content: 'h3';
}

h4::before {
    content: 'h4';
}

h5::before {
    content: 'h5';
}

h6::before {
    content: 'h6';
}

nav, section, article, aside {
    --tw-border-opacity: 1 !important;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgba(250, 250, 250, var(--tw-bg-opacity)) !important;
}

nav::before, section::before, article::before, aside::before {
    --tw-border-opacity: 1 !important;
    border-color: rgba(163, 163, 163, var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: rgba(38, 38, 38, var(--tw-text-opacity)) !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.375rem;
    padding-right: 0.75rem;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    margin-right: 0.25rem;
    display: block;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(229, 229, 229, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
}


span {
    display: block;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(254, 215, 170, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 247, 237, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
}

span::before {
    content: 'span';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(251, 146, 60, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(253, 186, 116, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.125rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgba(154, 52, 18, var(--tw-text-opacity));
}

strong {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(199, 210, 254, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(238, 242, 255, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
}

strong::before {
    content: 'strong';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(129, 140, 248, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(165, 180, 252, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.125rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgba(55, 48, 163, var(--tw-text-opacity));
}

b {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(254, 202, 202, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(254, 242, 242, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
}

b::before {
    content: 'b';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(248, 113, 113, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.125rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgba(153, 27, 27, var(--tw-text-opacity));
}

em {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(253, 230, 138, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 251, 235, var(--tw-bg-opacity));
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.75rem;
}

em::before {
    content: 'em';
    margin-right: 0.5rem;
    display: inline-flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(251, 191, 36, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.125rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgba(146, 64, 14, var(--tw-text-opacity));
}
