.app-module__navbar__wrapper--izrS1 {
    position: fixed;
    top: 0px;
    z-index: 40;
    width: 100%;
    font-weight: 600;
    --tw-backdrop-blur: blur(8px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.app-module__heroBanner__wrapper--JwhjZ {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: clip;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 1024px) {

    .app-module__heroBanner__wrapper--JwhjZ {
        background-size: contain;
        background-position: left;
    }
}

.app-module__heroBanner__wrapper--JwhjZ {
    background-image: url(/media/Banner.png);
}

.app-module__heroBanner__container--oXMBd {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    --tw-text-opacity: 1;
    color: rgba(30, 41, 59, var(--tw-text-opacity));
}

.app-module__heroBanner__content--wQQlt {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.app-module__heroBanner__section--D4r31 {
    margin-bottom: 8rem;
    max-width: 640px;
}

.app-module__heroBanner__title--VLNJM {
    margin-bottom: 2rem;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
}
.menu-module__menu__wrapper--Wa64E {

    position: relative
}

.menu-module__menu__trigger--WnRYZ {

    border-radius: 0.375rem;

    --tw-bg-opacity: 1;

    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    padding-left: 2rem;

    padding-right: 2rem;

    font-weight: 600;

    --tw-text-opacity: 1;

    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.menu-module__menu__container--Nd_QY {

    position: absolute;

    left: 0px;

    right: 0px;

    margin-top: 0.5rem;

    display: flex;

    flex-direction: column;

    overflow: clip;

    border-radius: 0.375rem;

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(147, 197, 253, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.menu-module__menu__item--lXgT4 {

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem
}

.menu-module__menu__item--lXgT4:hover {

    --tw-bg-opacity: 1;

    background-color: rgba(191, 219, 254, var(--tw-bg-opacity))
}

.menu-module__menu__item--lXgT4.menu-module__focus-visible--iQgSQ {

    outline: 2px solid transparent;

    outline-offset: 2px;

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity))
}

.menu-module__menu__item--lXgT4.menu-module__focus-visible--iQgSQ {

    outline: 2px solid transparent;

    outline-offset: 2px;

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity))
}

.menu-module__menu__item--lXgT4.menu-module__focus-visible--iQgSQ {

    outline: 2px solid transparent;

    outline-offset: 2px;

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity))
}

.menu-module__menu__item--lXgT4:focus-visible {

    outline: 2px solid transparent;

    outline-offset: 2px;

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity))
}
.accordion-module__accordion__wrapper--k_m_g {

    width: 100%;

    max-width: 768px;

    overflow: clip;

    border-radius: 0.5rem;

    border-width: 1px;

    border-bottom-width: 2px;

    --tw-border-opacity: 1;

    border-color: rgba(212, 212, 212, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(245, 245, 245, var(--tw-bg-opacity))
}

.accordion-module__accordion__heading--zGPqm {

    border-bottom-width: 1px;

    --tw-border-opacity: 1;

    border-bottom-color: rgba(163, 163, 163, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    padding: 1rem;

    font-size: 1.25rem;

    line-height: 1.75rem;

    font-weight: 600
}

.accordion-module__accordion__heading--zGPqm:last-child {

    border-bottom-width: 0px
}

.accordion-module__accordion__panel--w5cXi {

    margin: 1rem;

    overflow: clip;

    border-radius: 0.375rem;

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    padding: 1rem
}
.menubar-module__menubar__wrapper--a7mJC {

    margin-left: auto;

    margin-right: auto
}

.menubar-module__menubar__container--KG9RX {

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    gap: 1rem;

    padding: 1rem
}

.menubar-module__menubar__item--rkFkw {

    flex-grow: 1;

    text-align: center
}

.menubar-module__menubar__item--rkFkw.menubar-module__focus-visible--VmdWS {

    outline-width: 1px
}

.menubar-module__menubar__item--rkFkw:focus-visible {

    outline-width: 1px
}
.carousel-module__carousel_wrapper--FQ80z {

    position: relative;

    margin-left: auto;

    margin-right: auto;

    width: -moz-fit-content;

    width: fit-content
}

.carousel-module__carousel_button--LJxG1 {

    position: absolute;

    top: 0.5rem;

    z-index: 2;

    display: flex;

    flex-direction: column;

    justify-content: center;

    border-radius: 1.75rem;

    --tw-bg-opacity: 1;

    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));

    padding: 0.5rem
}

.carousel-module__carousel_buttonControl--aUw45 {

    left: 0.5rem
}

.carousel-module__carousel_buttonPrevious--Mqivi {

    right: 5rem
}

.carousel-module__carousel_buttonNext--lAKJ5 {

    right: 0.5rem
}

.carousel-module__carousel_slideWrapper--HfGyN {

    position: relative;

    z-index: 1;

    margin-left: auto;

    margin-right: auto;

    height: 512px;

    width: 1024px;

    overflow: clip;

    border-top-left-radius: 1.5rem;

    border-top-right-radius: 1.5rem;

    border-bottom-right-radius: 0.5rem;

    border-bottom-left-radius: 0.5rem
}

.carousel-module__carousel_slide--M3tpo {

    transition-property: transform;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 150ms;

    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}

.carousel-module__carousel_slide--active--qmxX2 {

    visibility: visible
}

.carousel-module__carousel_slide__image--wVYEC {

    position: absolute;

    top: 0px;

    right: 0px;

    bottom: 0px;

    left: 0px;

    width: 100%;

    -o-object-fit: cover;

       object-fit: cover;

    -o-object-position: bottom;

       object-position: bottom
}

.carousel-module__carousel_slide__content--FyKLy {

    position: absolute;

    bottom: 0px;

    width: 100%;

    background-image: linear-gradient(to top, var(--tw-gradient-stops));

    --tw-gradient-from: #000;

    --tw-gradient-to: rgba(0, 0, 0, 0);

    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

    --tw-gradient-to: transparent;

    padding: 2rem;

    --tw-text-opacity: 1;

    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.carousel-module__carousel_slide__title--Yh5KA {

    margin-bottom: 0.5rem;

    font-size: 1.5rem;

    line-height: 2rem;

    font-weight: 600
}
.combobox-module__comboBox__wrapper--oIBVi {

    position: relative;

    width: 100%
}

.combobox-module__comboBox__button--LDguu {

    border-radius: 0.375rem;

    --tw-border-opacity: 1;

    border-color: rgba(163, 163, 163, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    padding: 1rem;

    --tw-text-opacity: 1;

    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.combobox-module__comboBox__container--w6n9o {

    position: absolute;

    width: 100%;

    overflow: clip;

    border-radius: 0.375rem;

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(163, 163, 163, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.combobox-module__comboBox__option--Xgbv0 {

    padding: 1rem;

    --tw-text-opacity: 1;

    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.combobox-module__comboBox__option--Xgbv0:not(.combobox-module__focus-visible--PZD5r):hover {

    --tw-bg-opacity: 1;

    background-color: rgba(219, 234, 254, var(--tw-bg-opacity))
}

.combobox-module__comboBox__option--Xgbv0:not(.combobox-module__focus-visible--PZD5r):hover {

    --tw-bg-opacity: 1;

    background-color: rgba(219, 234, 254, var(--tw-bg-opacity))
}

.combobox-module__comboBox__option--Xgbv0:not(:focus-visible):hover {

    --tw-bg-opacity: 1;

    background-color: rgba(219, 234, 254, var(--tw-bg-opacity))
}

.combobox-module__comboBox__container--w6n9o.combobox-module__active--oQDDM.combobox-module__focus-visible--PZD5r .combobox-module__comboBox__option--active--cyf5w {

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(244, 114, 182, var(--tw-ring-opacity))
}

.combobox-module__comboBox__container--w6n9o.combobox-module__active--oQDDM.combobox-module__focus-visible--PZD5r .combobox-module__comboBox__option--active--cyf5w {

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(244, 114, 182, var(--tw-ring-opacity))
}

.combobox-module__comboBox__container--w6n9o.combobox-module__active--oQDDM.combobox-module__focus-visible--PZD5r .combobox-module__comboBox__option--active--cyf5w {

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(244, 114, 182, var(--tw-ring-opacity))
}

.combobox-module__comboBox__container--w6n9o.combobox-module__active--oQDDM:focus-visible .combobox-module__comboBox__option--active--cyf5w {

    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 rgba(0,0,0,0);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0,0,0,0));

    --tw-ring-inset: inset;

    --tw-ring-opacity: 1;

    --tw-ring-color: rgba(244, 114, 182, var(--tw-ring-opacity))
}
