<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Aria Patterns</title>
</head>
<body class="flex flex-col min-h-screen relative">
<header class="flex flex-col relative overflow-clip h-screen">
    <picture class="absolute inset-0">
        <source srcset="<%= htmlWebpackPlugin.files.publicPath %>/media/Bitmama-Reply-Wallpaper_2100p_b.jpg" media="(min-width: 2100px)">
        <source srcset="<%= htmlWebpackPlugin.files.publicPath %>/media/Bitmama-Reply-Wallpaper_1200p_b.jpg" media="(min-width: 1200px)">
        <img src="<%= htmlWebpackPlugin.files.publicPath %>/media/Bitmama-Reply-Wallpaper_1080p_b.jpg" alt="" class="h-full w-full object-cover object-bottom">
    </picture>
    <div class="absolute inset-0 flex flex-col px-16 text-white">
        <nav class="menubar__wrapper justify-self-start">
            <ul class="menubar__container" aria-label="Navigazione del sito" role="menubar" is="menu-bar">
                <li class="menubar__item"><a href="<%= htmlWebpackPlugin.files.publicPath %>flow.html" role="menuitem">Contenuti di flusso</a></li>
                <li class="menubar__item"><a href="<%= htmlWebpackPlugin.files.publicPath %>sectioning.html" role="menuitem">Contenuti di sezionamento</a></li>
                <li class="menubar__item"><a href="<%= htmlWebpackPlugin.files.publicPath %>phrasing.html" role="menuitem">Contenuti di Fraseggio</a></li>
                <li class="menubar__item"><a href="<%= htmlWebpackPlugin.files.publicPath %>embedded.html" role="menuitem">Contenuti integrati</a></li>
                <li class="menu__wrapper menubar__item">
                    <button role="menuitem" aria-haspopup="menu" aria-expanded="false" is="menu-button">Interazione</button>
                    <div role="menu" aria-label="Interazione" class="menu__container">
                        <a href="<%= htmlWebpackPlugin.files.publicPath %>interactive.html" class="menu__item" role="menuitem">Elementi interattivi</a>
                        <a href="<%= htmlWebpackPlugin.files.publicPath %>keyboard_navigation.html" class="menu__item" role="menuitem">navigazione tastiera</a>
                        <a href="<%= htmlWebpackPlugin.files.publicPath %>aria.html" class="menu__item" role="menuitem">Pattern Aria</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="max-w-screen-lg mx-auto grow flex flex-col justify-center">
            <section
                    id="head-content"
                    class="max-w-screen-sm mb-32">
                <h1 class="text-6xl font-bold mb-8">Aria</h1>
                <p class="mb-2">Con <em>Accessible Rich Internet Applications</em> si intendono un insieme di ruoli e
                    attributi che definiscono meccanismi per rendere contenuti web e applicazioni web più accessibili a
                    utenti con disabilità</p>
                <p class="mb-4">La prima regola dell'uso degli ARIA è che se esiste un componente nativamente supportato
                    dai browser è preferibile a qualsiasi implementazione personalizzata, le altre si potrebbero riassumere con <em>Nessun aria è meglio di cattivi aria</em>. Vediamo alcuni esempi di implementazione della select nativa qui sotto:</p>
                <div class="flex flex-col w-full">
                    <div class="flex flex-col">
                        <label for="native-aria">Quali ARIA sono meglio?</label>
                        <select id="native-aria" name="native-aria" class="p-4 rounded-md text-black">
                            <option value="" selected>Seleziona un'opzione</option>
                            <option value="no">Nessun Aria</option>
                            <option value="bad">Cattivi Aria</option>
                        </select>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>
<main class="max-w-screen-xl mx-auto p-16 flex-grow w-full z-[3]" id="main-content">
    <section class="flex flex-col w-full mb-8">
        <h2 class="text-5xl font-semibold text-slate-700 mb-4">Custom select</h2>
        <h3 class="text-3xl font-semibold">Widget semanticamente sbagliato ma interattivo</h3>
        <div class="list-box__wrapper mt-4 bg-red-200 p-4 rounded-md mb-8" id="bad-aria" is="bad-box">
            <label id="bad-type">Which aria is better?</label>
            <div class="list-box__button"></div>
            <ul class="list-box__container" tabindex="-1">
                <li class="list-box__option">
                    Select option
                </li>
                <li class="list-box__option">
                    No aria
                </li>
                <li class="list-box__option">
                    Bad aria
                </li>
            </ul>
        </div>
        <h3 class="text-3xl font-semibold">Widget semanticamente corretto ma non interattivo</h3>
        <div class="flex flex-col mt-4 bg-red-200 p-4 rounded-md mb-8">
            <p id="list-aria">Which aria is better?</p>
            <ul role="listbox" aria-labelledby="list-aria">
                <li role="option" aria-selected="true">select option</li>
                <li role="option" aria-selected="false">no aria</li>
                <li role="option" aria-selected="false">bad aria</li>
            </ul>
        </div>
        <h3 class="text-3xl font-semibold">Widget completo</h3>
        <%=require('./components/aria-combobox_component.html')%>
    </section>
    <section class="flex flex-col w-full px-2">
        <h2 class="text-5xl font-semibold text-slate-700 mb-4">Other widgets</h2>
        <section class="mb-8">
            <h3 class="text-3xl font-semibold mb-4">Radio and checkboxes</h3>
            <%=require('./components/aria-radiogroup_component.html')%>
            <%=require('./components/aria-checkbox_component.html')%>
        </section>
        <section class="mb-8">
            <h3 class="text-3xl font-semibold mb-4">Carousel</h3>
            <%=require('./components/aria-carousel_component.html')%>
        </section>
        <section class="mb-8">
            <h3 class="text-3xl font-semibold mb-4">Tabber</h3>
            <%=require('./components/aria-tabber_component.html')%>
        </section>
        <section class="mb-8">
            <h3 class="text-3xl font-semibold    mb-4">Live regions</h3>
            <%=require('./components/aria-liveRegion_component.html')%>
        </section>
    </section>
</main>
<footer class="pt-12 p-4 bg-slate-800 text-white text-center mt-8">
    <div class="grid grid-cols-3 w-full">
        <div>
            <p class="text-2xl font-bold">WCAG Aria Workshop</p>
            <dl class="list__wrapper list__wrapper--horizontal text-white">
                <dt></dt>
                <dd></dd>
                <dd></dd>
            </dl>
        </div>
        <div></div>
        <div>
            <dl class="list__wrapper list__wrapper--vertical text-white text-left">
                <dt class="list__title text-xl">Esempi pratici</dt>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>flow.html">Contenuti di flusso</a></dd>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>sectioning.html">Contenuti di sezionamento</a></dd>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>phrasing.html">Contenuti di fraseggio</a></dd>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>embedded.html">Contenuti integrati</a></dd>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>interactive.html">Contenuti relativi ai moduli</a></dd>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>keyboard_navigation.html">Navigazione da tastiera</a></dd>
                <dd><a href="<%= htmlWebpackPlugin.files.publicPath %>aria.html">Attributi ARIA</a></dd>
            </dl>
        </div>
    </div>
    <p class="text-xs pt-8">Bitmama, WCAG Aria Workshop 2022</p>
</footer>
<div id="alert-region" class="alert__container">

</div>
</body>
</html>