.carousel_wrapper {
    @apply relative w-fit mx-auto;
}

.carousel_button {
    @apply absolute p-2 bg-neutral-100 flex flex-col justify-center rounded-[100%] z-[2] top-2;
}

.carousel_button--control {
    @apply left-2;
}

.carousel_button--previous {
    @apply right-14;
}

.carousel_button--next {
    @apply right-2;
}

.carousel_slide-wrapper {
    @apply relative mx-auto w-[1024px] h-[512px] z-[1] overflow-clip rounded-t-3xl rounded-b-lg;
}

.carousel_slide-wrapper[aria-live="off"]::after {
    content: '';
    @apply bg-red-500 absolute bottom-0 left-0 h-1;
    animation: load-like infinite 4s linear;
}

@keyframes load-like {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.carousel_slide {
    @apply invisible transition-transform ease-in;
}

.carousel_slide--active {
    @apply visible;
}

.carousel_slide__image {
    @apply absolute inset-0 object-cover w-full object-bottom;
}

.carousel_slide__content {
    @apply bg-gradient-to-t from-black to-transparent text-white absolute bottom-0 w-full p-8;
}

.carousel_slide__title {
    @apply text-2xl font-semibold mb-2;
}